body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #616392;
    border-radius: 5px;
    background-image: linear-gradient(135deg, rgb(64, 64, 90), rgba(55, 53, 192, 0.785), rgba(55, 53, 192, 0.437));
}

.titulo {
    color: white;
    text-align: center;
}

input[type=text],
input[type=number] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #4d6897;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #15328f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

button:hover {
    background-color: #2d4ef3;
}

.datos-lista {
    list-style-type: none;
    padding: 0;
}

.datos-lista li {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
}